* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main .main__menu .main__links {
  display: grid;
  justify-content: center;
  align-items: center;
}

.main {
  grid-template-columns: 1fr;
  padding: 0 25px 20px 15px;
}

.main .main__menu .main__title {
  line-height: 60px;
}

.main .main__menu .main__links {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 15px;
  border-bottom: 1px solid #EEEEEE;
}