.main {
  // *
  grid-template-columns: 1fr;
  padding: 0 25px 20px 15px;

  .main__menu {

    .main__title {
      // *
      line-height: 60px;
    }

    .main__links {
      // *
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      justify-content: center;
      justify-items: center;
      text-align: center;


      .main__link:last-child {
        grid-column: 2 / 3;
      }

    }

  }

}