.main {
  grid-template-columns: 1fr;
  padding: 0 25px 20px 15px;

  .main__menu {

    .main__title {
      line-height: 60px;
    }

    .main__links {
      @extend %grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      gap: 15px;
      border-bottom: 1px solid $color-primary;

    }

  }

}